<?xml version="1.0"?>
<launch>
    <!-- main_loop logs. Can be 'log' to be stored in log file or 'screen' to be printed to screen. -->
    <arg name="main_loop_output" default="screen" />

    <!-- Setup mocks. View launch_all_mocks.launch for argument descriptions. -->
    <arg name="speedup" default="1.0" />
    <arg name="ais_file" default="" />
    <arg name="gps_file" default="" />
    <include file="$(find local_pathfinding)/launch/launch_all_mocks.launch">
      <arg name="speedup" value="$(arg speedup)"/>
      <arg name="ais_file" value="$(arg ais_file)"/>
      <arg name="gps_file" value="$(arg gps_file)"/>
    </include>

    <node pkg="local_pathfinding" type="main_loop.py" name="main_loop" output="$(arg main_loop_output)"/>
    <node pkg="local_pathfinding" type="local_path_visualizer.py" name="local_path_visualizer" />
</launch>
