<?xml version="1.0"?>
<!-- All setup for MOCK systems only to be run in simulation, NOT on real boat -->
<launch>
    <!-- MOCK sensors -->
    <arg name="speedup" default="1.0" />
    <arg name="global_wind_speed_kmph" default="1.0" />
    <arg name="global_wind_direction_degrees" default="45.0" />
    <arg name="ocean_current_speed" default="0.0" />
    <arg name="ocean_current_direction" default="0.0" />
    <arg name="smooth_changes" default="true" />
    <include file="$(find local_pathfinding)/launch/MOCK_sensors.launch">
      <arg name="speedup" value="$(arg speedup)"/>
      <arg name="global_wind_speed_kmph" value="$(arg global_wind_speed_kmph)" />
      <arg name="global_wind_direction_degrees" value="$(arg global_wind_direction_degrees)" />
      <arg name="ocean_current_speed" value="$(arg ocean_current_speed)" />
      <arg name="ocean_current_direction" value="$(arg ocean_current_direction)" />
      <arg name="smooth_changes" value="$(arg smooth_changes)" />
    </include>

    <!-- Sets the num_ais_ships -->
    <arg name="num_ais_ships" default="5" />
    <param name="num_ais_ships" type="int" value="$(arg num_ais_ships)" />

    <!-- Sets random seed. Will only set seed if it is an integer. -->
    <arg name="random_seed" default="" />
    <param name="random_seed" type="string" value="$(arg random_seed)" />

    <!-- Sets ais_file, the FULL path of a JSON file to be read to set the initial AIS ship positions, initial sailbot position, goal position, initial wind condition -->
    <arg name="ais_file" default="" />
    <arg name="gps_file" default="" />
    <arg name="goal_file" default="" />
    <arg name="wind_file" default="" />
    <param name="ais_file" type="string" value="$(arg ais_file)" />
    <param name="gps_file" type="string" value="$(arg gps_file)" />
    <param name="goal_file" type="string" value="$(arg goal_file)" />
    <param name="wind_file" type="string" value="$(arg wind_file)" />

    <node pkg="local_pathfinding" type="MOCK_AIS.py" name="MOCK_AIS" />
    <node pkg="local_pathfinding" type="MOCK_global_planner.py" name="MOCK_global_planner" />
    <node pkg="local_pathfinding" type="MOCK_UDP_bridge.py" name="MOCK_UDP_bridge" />
    <node pkg="local_pathfinding" type="addBoat.py" name="addBoat" />
</launch>
